@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
html {
  background-color: #eceef4;
  padding-left: 10px;
  padding-right: 10px; }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  font-family: 'Montserrat', sans-serif;
  color: #a5abc5;
  counter-reset: section; }

.top-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px; }

.top-btns a {
  width: 150px;
  height: 45px;
  border: 2px solid #c9d0e1;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  font-size: 8pt; }
.top-btns img {
  width: 120px;
  height: 120px; }

.top-button {
  margin-right: 10px;
  font-size: 11pt; }

.order-form {
  border: 2px solid #c9d0e1;
  border-radius: 3px;
  background-color: #ffffff;
  margin-bottom: 80px; }

.order-form-header {
  border-bottom: 2px solid #c9d0e1;
  display: flex; }

.order-header {
  width: 70%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 3%;
  padding-left: 3%;
  display: flex;
  justify-content: space-between; }

.info-header {
  width: 30%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 3%;
  padding-left: 3%;
  border-left: 2px solid #c9d0e1; }

.order-header table {
  text-align: left;
  margin-left: 15px;
  margin-right: 15px; }
  .order-header table td {
    padding: 7px;
    padding-left: 5%;
    padding-right: 5%;
    color: #a5abc5;
    font-size: 8pt;
    white-space: nowrap; }
  .order-header table th {
    padding: 7px;
    padding-left: 5%;
    padding-right: 5%;
    text-transform: uppercase;
    color: #6e768f;
    font-size: 8pt; }

.top-sub-header {
  margin-bottom: 25px;
  text-transform: uppercase;
  color: #6e768f;
  font-size: 10pt; }

.order-header-text {
  margin-right: 12px;
  font-size: 12pt; }

.print-quote-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-item: center; }

.order-button {
  width: 120px;
  max-width: 120px;
  height: 40px;
  margin: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  font-size: 7pt;
  cursor: pointer; }

.place-order-button {
  border: 2px solid #54aca9;
  background-color: #5FCAC6;
  color: #ffffff;
  font-weight: 700; }

.print-quote-button {
  border: 2px solid #c9d0e1;
  background-color: #F7F7FA;
  color: #6e768f;
  font-weight: 700; }

.help-text {
  font-size: 7pt;
  margin-left: 28px;
  line-height: 1.5;
  margin-bottom: 15px; }

.contact-info {
  display: inline-block;
  margin-left: 28px; }
  .contact-info a {
    font-size: 8pt;
    color: #6e768f; }

.select-translation-type {
  text-align: center; }
  .select-translation-type hr {
    width: 460px;
    border: 1px solid #c9d0e1;
    margin-bottom: 60px; }

.select-translate-type-header {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14pt;
  margin-top: 90px; }

.translation-type-img {
  width: 250px;
  height: 205px; }

.select-wrapper {
  position: relative;
  z-index: 1;
  border: 3px solid transparent;
  border-radius: 3px; }

input[name=trType]:checked + .select-wrapper {
  border: 3px solid #76a7e1;
  border-radius: 3px; }

input[name=trType]:checked + .select-wrapper:after {
  font-family: 'FontAwesome';
  content: "\f058";
  position: absolute;
  top: -8px;
  left: 240px;
  color: #76a7e1;
  font-size: 18pt;
  z-index: 2;
  background-color: #ffffff;
  line-height: 10pt; }

.translation-types {
  margin-bottom: 60px; }

.translation-type {
  display: inline-block;
  position: relative; }

.header-upload-section {
  color: #6e768f;
  line-height: 40px;
  margin-bottom: 40px;
  font-size: 11pt; }

.header-upload-section::before, .select-language-section::before {
  counter-increment: section;
  content: counter(section);
  border: 2px solid #6e768f;
  color: #6e768f;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  margin-right: 3%;
  margin-left: 5%; }

.upload-help {
  font-size: 9px;
  margin-left: 2px;
  color: #a5abc5; }

.upload-section {
  margin-bottom: 80px; }

.upload-file {
  position: relative;
  overflow: hidden;
  margin-left: 13%;
  background-color: #f7f7fa;
  border: 1px solid #a5abc5;
  border-radius: 3px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 40px;
  font-size: 10pt;
  margin-bottom: 40px; }
  .upload-file .hidden-input {
    position: absolute;
    top: 0;
    right: -100px;
    margin: 0;
    padding: 0;
    font-size: inherit;
    height: 100%;
    opacity: 0;
    border: 1px solid #a5abc5;
    border-radius: 3px;
    padding-left: 33px;
    padding-right: 33px;
    line-height: 40px;
    filter: alpha(opacity=0); }
  .upload-file i {
    margin-right: 6px;
    line-height: 40px;
    font-size: 12pt; }
  .upload-file:hover {
    background-color: #eeedee; }

.upload-table {
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 2%;
  padding-top: 2%;
  margin-right: 13%;
  margin-left: 13%;
  border: 1px solid #c9d0e1;
  border-radius: 2px;
  background-color: #f7f7fa; }
  .upload-table table {
    text-align: left;
    line-height: 10pt; }
    .upload-table table td {
      padding: 7px;
      color: #a5abc5;
      font-size: 8pt;
      white-space: nowrap;
      width: 15%; }
    .upload-table table th {
      padding: 7px;
      text-transform: uppercase;
      color: #a5abc5;
      font-size: 7pt;
      white-space: nowrap;
      letter-spacing: 1px;
      width: 15%; }
    .upload-table table td:last-of-type, .upload-table table th:last-of-type {
      text-align: center; }
    .upload-table table td:first-of-type, .upload-table table th:first-of-type {
      width: 25%; }

.upload-icon {
  margin-right: 7%;
  font-size: 11pt; }

.upload-delete {
  cursor: pointer; }

.from-language {
  margin-right: 13%;
  margin-left: 13%;
  display: flex;
  flex-wrap: wrap; }

.to-language {
  margin-left: 12.5%; }

.from-language-label {
  text-transform: uppercase;
  font-size: 9pt;
  text-align: right;
  width: 230px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-right: 40px;
  margin-left: -30px; }

.to-language-label {
  text-transform: uppercase;
  font-size: 9pt; }

.select-list {
  background-color: #f7f7fa;
  height: 50px;
  border-radius: 3px;
  border: 1px solid #c9d0e1;
  overflow: hidden;
  padding: 5px 10px;
  padding-left: 32px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 170px;
  outline: none;
  font-family: inherit;
  font-size: 10pt;
  color: #a5abc5;
  margin-left: 15px; }

.additional-language {
  text-align: left;
  width: 210px;
  padding-right: 0px;
  margin-left: 30px; }
  .additional-language select {
    margin-left: 0px; }

.delete-language {
  margin-left: 3%; }

.add-language {
  width: 130px;
  background-color: #f7f7fa;
  height: 50px;
  border-radius: 3px;
  border: 1px solid #c9d0e1;
  color: #a5abc5;
  font-size: 10pt;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 30px;
  text-align: center; }

.double-section {
  display: flex;
  flex-wrap: nowrap;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 60px;
  margin-bottom: 60px; }
  .double-section section {
    width: 45%; }

.sub-header::before {
  margin-right: 8%;
  margin-left: 0; }

.tone-feild {
  margin-left: 20%; }

.tone-wrapper {
  position: relative;
  z-index: 1;
  border: 2px solid #c9d0e1;
  background-color: #f7f7fa;
  border-radius: 3px;
  width: 170px;
  height: 50px;
  font-size: 9pt;
  line-height: 50px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  box-sizing: border-box; }

input[name=tone]:checked + .tone-wrapper {
  border: 2px solid #76a7e1;
  border-radius: 3px; }

input[name=tone]:checked + .tone-wrapper:after {
  font-family: 'FontAwesome';
  content: "\f058";
  position: absolute;
  top: -8px;
  left: 155px;
  color: #76a7e1;
  font-size: 18pt;
  z-index: 2;
  background-color: #ffffff;
  line-height: 10pt; }

.urgent-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.urgent-label-wrapper {
  width: 100%;
  margin-left: 0;
  display: flex;
  justify-content: space-between; }

.range-label {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  width: 33%;
  font-size: 9pt;
  line-height: 40px; }
  .range-label:nth-of-type(1) {
    text-align: left; }
  .range-label:nth-of-type(2) {
    text-align: center; }
  .range-label:nth-of-type(3) {
    text-align: right; }

input[type=range].urgent {
  position: relative; }

input[type=range].urgent::after, input[type=range].urgent::before {
  -webkit-appearance: none;
  pointer-events: none;
  font-family: 'FontAwesome';
  content: "\f111";
  position: absolute;
  color: #d6d8e2;
  font-size: 9.5px;
  z-index: 1;
  line-height: 7pt; }
  input[type=range].urgent::after .urgent::after, input[type=range].urgent::before .urgent::after {
    top: 0px;
    left: 0px; }
  input[type=range].urgent::after .urgent::before, input[type=range].urgent::before .urgent::before {
    top: 0px;
    left: 97%; }

input[type=range].urgent {
  -webkit-appearance: none;
  width: 88%; }

input[type=range].urgent:focus {
  outline: none; }

input[type=range].urgent::-webkit-slider-runnable-track {
  width: 100%;
  height: 9.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(239, 240, 245, 0.78);
  border-radius: 25px;
  border: 0px solid #010101; }

input[type=range].urgent::-webkit-slider-thumb {
  position: relative;
  background-color: #EDBE76;
  z-index: 8;
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid transparent;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.3px; }

input[type=range].urgent:focus::-webkit-slider-runnable-track {
  background: rgba(245, 246, 249, 0.78); }

input[type=range].urgent::-moz-range-track {
  width: 100%;
  height: 9.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(239, 240, 245, 0.78);
  border-radius: 25px;
  border: 0px solid #010101; }

input[type=range].urgent::-moz-range-thumb {
  position: relative;
  z-index: 8;
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid transparent;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  cursor: pointer; }

input[type=range].urgent::-ms-track {
  width: 100%;
  height: 9.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent; }

input[type=range].urgent::-ms-fill-lower {
  background: rgba(233, 234, 241, 0.78);
  border: 0px solid #010101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d; }

input[type=range].urgent::-ms-fill-upper {
  background: rgba(239, 240, 245, 0.78);
  border: 0px solid #010101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d; }

input[type=range].urgent::-ms-thumb {
  position: relative;
  z-index: 8;
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid transparent;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  cursor: pointer;
  height: 9.4px; }

input[type=range].urgent:focus::-ms-fill-lower {
  background: rgba(239, 240, 245, 0.78); }

input[type=range].urgent:focus::-ms-fill-upper {
  background: rgba(245, 246, 249, 0.78); }

.urgent-hint {
  width: 100%;
  border: 2px solid #c9d0e1;
  padding: 20px;
  background-color: #f7f7fa;
  padding-left: 15%;
  padding-right: 5%;
  border-radius: 3px; }

.urgent-hint-header {
  color: #6e768f;
  text-transform: uppercase;
  font-size: 11pt;
  line-height: 40px;
  margin-left: -7.5%; }
  .urgent-hint-header::before {
    font-family: 'FontAwesome';
    content: "\f05a";
    margin-right: 3%;
    font-size: 13pt; }

.urgent-hint-text {
  margin-bottom: 10px;
  font-size: 8pt;
  line-height: 1.5; }

.emphesized-hint {
  text-transform: uppercase;
  font-size: 9pt;
  color: #edbe76; }

.sign-text {
  margin-left: 12.5%;
  font-size: 10pt;
  margin-bottom: 45px; }
  .sign-text a {
    text-decoration: underline; }

/*# sourceMappingURL=main.css.map */
